In [4]:
import ujson
import dask.bag as db

bag = db.read_text("pokemon.dat")

df = bag.map(ujson.loads).to_dataframe()

In [5]:
df.head()

   disappear_time  id        lat        lng       name spawn_point_id
0    1.468964e+09  16  30.267167 -97.742477     Pidgey    8644b50832f
1    1.468964e+09  41  30.266500 -97.743156      Zubat    8644b50847d
2    1.468879e+09  13  30.265430 -97.743071     Weedle    8644b5086cb
3    1.468964e+09   1  30.268948 -97.742646  Bulbasaur    8644b509e97
4    1.468964e+09  41  30.268933 -97.742901      Zubat    8644b509eb1